header {
    background-color: red;
    color: white;
    padding: 20px;
}

nav {
    display: flex;
    justify-content: flex-end;
    margin-top:auto;
    margin-bottom:auto;    
}

nav a:hover {
    color: green;
}

header nav a {
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    margin-left: 0px;
    margin-right: 0px;
    color: white;
    padding:20px;
}

footer {
    background-color: red;
    text-align: center;
    padding: 30px 0;
    bottom: 0;
    position: absolute;
    width: 100%;
}

.bold {
    font-style: 900; 
}

* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h2 u {
    font-size: xx-large;
}

.site {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-align: center;
    height: 413px;
    overflow: hidden;
    margin-top: 0;
  }

  img.banner {
    width: 100%;
    display: flex;
    width: 100%;
    flex-flow: row nowrap;
    align-items: center;
    height: 100%;
  }

  .caption {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
    top: 50%;
    font-size: 30px;
    font-weight: 800;
}

body {
    margin:0px;
    background-color: black;
    color: white;
}

.screenshot-content {
    width: 62%;
    margin: auto; 
    padding-left: 119px;
}

.content {   
    display: flex;
    flex-wrap: wrap;
}

.header {
    width:50%;   
}

.screenshot {
    width: 195px;
    margin-left: 50px;
}

section img {
    width:50%  
}

section p a {
display: inline;
text-decoration: none;
color: white;
}

@media only screen and (max-width: 768px) {
    footer {
        position: static;
    }
    .screenshot-content {
        padding-left: 0;
    }
    .header {
        width:auto;
    }
    .screenshot-frame {        
        margin: 20px auto;
    }
    .screenshot {
        margin: 0 auto;
    }
  }  

@media only screen and (max-width: 640px) {
    .caption {
        font-size: 20px;
    }
}  
