header {
    background-color: red;
    color: white;
    padding: 20px;
}

nav {
    display: flex;
    justify-content: flex-end;
    margin-top:auto;
    margin-bottom:auto;
    
}

header nav a {
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    margin-left: 0px;
    margin-right: 0px;
    color: white;
    padding:20px;
}

footer {
    background-color: red;
    text-align: center;
    padding: 30px 0;
    bottom: 0;
    position: absolute;
    width: 100%;
}

.bold {
    font-style: 900; 
}

* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h2 u {
    font-size: xx-large;
}

.site {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-align: center;
    height: 413px;
    overflow: hidden;
  }

  .caption {
    left: 0;
    position: absolute;
    text-align: center;
    top: 30px;
    width: 100%
    transform: translate(-50%, -50%);
}

body {
    margin:0px;
}