header {
    background-color: red;
    color: white;
    padding: 20px;
}

header nav a {
    display: inline-block;
    text-decoration: none;   
    font-size:20px;
    margin-left: 70px;
    margin-right: 100px;
    color: white;
    padding: 1px;
}

footer {
    background-color: red;
    text-align: center;
    padding: 30px;
}

.bold {
    font-style: 900; 
}

* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h2 u {
    font-size: xx-large;
}

.site {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-align: center;
  }

  .caption {
    left: 0;
    position: absolute;
    text-align: center;
    top: 30px;
    width: 100%
    transform: translate(-50%, -50%);
}